 
<div class="container">
    <br>
    <h2 style="text-align: center;">Redme File</h2>
    <div class="card bg-secondary text-white">
      <div class="card-body">
          <ul>
              <li *ngFor="let data of appRender">
                  {{data}}
              </li>
          </ul>
      </div>
    </div>
    <br>
    <div class="card bg-dark text-white">
        <div class="card-body">
            <ul>
                <li *ngFor="let data of textData">
                    {{data}}
                </li>
            </ul>
        </div>
      </div>  
  </div>